
<%-include ('../partials/header')%>
<main class="container">
    <div class="d-flex align-self-center bd-highlight">
                <%if(username){%>
            <form action='/clucks' method='POST' class='form-control lg mb-4'>
                    <em>content</em>
                    <!-- content -->
                <div class='form-group mb-4 mt-1'>
                    <textarea placeholder="whatchoo cluckin' 'bout?"
                    class='form-control'
                    rows="5" col="120" 
                    name="content"
                    ></textarea>
                </div>
                    <em>image image_url</em>
                    <!-- picture -->
                <div class='form-group mb-4 mt-1'>
                    <input
                    type='text'
                    class='form-control'
                    name='image_url'
                    placeholder='http://i.imgur.com/qM6KaEy.gifv'
                    >
                </div>
                <br>
                <div class="d-flex flex-row-reverse bd-highlight">
                    <input type='submit' value='Cluck!' class='btn btn-lg btn-outline-success'>
                </div>
            </form>
            </div>
        </div>   
    </div>                
                <%}else{%>
                <div class="card text-white bg-primary mb-3" >
                        <div class="card-body">
                            <h2>Please Sign in to ! Clucks !</h2>
                        </div>
                    </div>
                </div>
                <%}%>
</main>
<%-include ('../partials/footer')%>