<%-include ('../partials/header')%>
<main class = 'container'>
<div class="p-2 flex-grow-1 bd-highlight">
        <% if (username) { %>
          Already signed in as <%=username%> 
        <% } else { %>
            <div class="d-flex align-self-center bd-highlight"></div>
              
                <form action='/sign_in'  method="POST" class='form-control lg mb-4'>
                  <div class="font-weight-light">
                    <em >Username </em>
                  </div>
                  <br>
                  <input class='form-group mb-4' type ='text' name='username' placeholder='e.g. Madam Welminster'>
                    <div class ="d-flex flex-row-reverse bd-highlight">
                    <button type='submit' class="btn btn-outline-secondary">Sign In</button>
                    </div>
                </form>
            </div>
          <% } %>
    </div>





</main>




<%-include ('../partials/footer')%>