<%-include ('../partials/header')%>
<main class = 'container'>
    <div class="d-flex align-self-center bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <form action='/sign_in'  method="POST" class='form-control lg mb-4'>
                  <div class="form-group">
                    <label class="form-text text-muted">Username</label>
                    <input name='username' 
                            type="text" 
                            class="form-control" 
                            placeholder="e.g. Madam Weiminster"
                    >
                  </div>
                  <br>
                    <div class ="d-flex flex-row-reverse bd-highlight">
                      <button type='submit' class="btn btn-outline-secondary">Sign In</button>
                    </div>
                </form>
            </div>
      </div>
</main>
<%-include ('../partials/footer')%>